

.projectCard:hover {
    cursor: pointer;
    position: relative;

    &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: 10;
        border-radius: 15px;
        background: red;
        opacity: 0.5;
        background: rgba(255, 48, 0, 0.24);
    }

    .infoSection {
        background: #E7816B;
    }

    .title {
        color: white;
    }

    .description {
        color: white;
    }


}